$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
$menuBg: #2B2C45;
$subMenuBg: #1f2d3d;
$menuHover: #001528;
$item-color: #FFFFFF;


// 默认主题颜色
$default-theme:#38C9CC;
$default-color:#38C9CC;

// 默认字体颜色
$font-color: #303133;

// 删除
$color-delete: #606266;

// border颜色
$border-color-base: #e3e3ec; // 边框颜色
$border-color-hover: #bfcbd9; //边框hover颜色
$border-radius-base: 3px; //边框圆角